# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment folders
env/
venv/

# Env files
*.env
.env

# macOS
.DS_Store

# Database files
*.db

# Logs
*.log

# System files
Thumbs.db
ehthumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/
*.whl
services.json
